<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="logTime" datePattern="'t'HH_mm-'d'dd_MM_yy"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %boldCyan(%-25.-25thread) %boldGreen(%-18.-18logger{0}) %highlight(%-6level) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/log-${logTime}.txt</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %(%-34.-34thread) %(%-24.-24logger{0}) %(%-6level) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>